<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 style="text-align: center;">My Profile</h1>
        <div style="margin-top: 10px;">
            <label for="Name">Name:</label>
            <span>{{ name }}</span>
        </div>
        <div style="margin-top: 10px;">
            <label for="Nickname">Nickname:</label>
            <span>{{ nick_name }}</span>
        </div>
        <div style="margin-top: 10px;">
            <label for="BirthDay">BirthDay:</label>
            <span> {{ birth_date }}</span>
        </div>
        <div style="margin-top: 10px;">
            <label for="Email">Email:</label>
            <span>{{ email }}</span>
        </div>
        <div style="margin-top: 10px;">
            <label for="Tel">Tel:</label>
            <span>{{ tel }}</span>
        </div>
    </div>
</body>

</html>